db
greybox_tmp
increamental_db
output_files
simulation
github
github.pub
/Simple processor/Multicore N/simulation
/Simple processor/Multicore N/output_files
/Simple processor/Multicore N/incremental_db
/Simple processor/Multicore N/env

*.qws
*.rpt
*.bak
Simple processor/Multicore N/multicore_processor_n.qws
